body {
    padding: 0;
    margin: 0;
    border: 0;
}

#home-container {
    display: flex;
    flex-direction: row;
}

#title-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    font-family: 'Staatliches';
    font-size: 40pt;
}

#menu {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: 10px;
}

#side-bar {
    padding: 0;
    margin: 0;
    border: 0;
    width: 400px; 
    min-height: 100vh;
    background-color: #cf4848;
    display: none;
}

#side-bar h1 {
    font-family: 'Staatliches';
    margin-left: 5px;
    margin-top: 5px;
}

#account-mgmt {
    position: absolute;
    right: 0;
    margin-right: 10px;
    font-size: 20pt;
}

#account-mgmt a {
    color: #383737;
    text-decoration: none;
}

#account-mgmt a:hover {
    color: #b84444;
}

#menu div {
    width: 40px;
    height: 10px;
    margin-bottom: 2px;
    background-color: #cf4848;
    border-radius: 2px;
}

#menu:hover div {
    background-color: #b84444;
}
/* Flex grid layout */
#game-catalog {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px 20% 0 20%
}

.game-icon { 
    border-radius: 5px;
    font-family: 'Staatliches';
    color: #ffffff;
    margin-top: 13px;
    margin-right: 13px;
    width: 300px;
    height: 200px;
    background-color: #cf4848;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-icon:hover{
    background-color: #b84444;
}

.game-link { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
}

#login-div {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Staatliches';
    color: #383737;
    margin: 100px auto;
    width: 20%;
    min-width: 275px;
    font-size: 20pt;
}

#user-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Staatliches';
    color: #383737;
    margin: 100px auto;
    width: 20%;
    min-width: 275px;
    font-size: 20pt;
}

#login-div input {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    border-radius: 5px;
    border: solid;
    border-color: #838282;
}

#login-div button {
    font-family: 'Staatliches';
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    border: solid;
    height: 30px;
    border-color: #ffffff;
    background-color: #cf4848;
    outline: none;
}

#login-div p {
    border: 0;
    margin: 0;
    margin-right: auto;
    font-size: 12pt;
}

#login-div button:hover {
    background-color:  #b84444;
}

#user-div button {
    font-family: 'Staatliches';
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    border: solid;
    height: 30px;
    border-color: #ffffff;
    background-color: #cf4848;
    outline: none;
}

#user-div button:hover {
    background-color:  #b84444;
}

#home-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #cf4848; 
}

#home-btn:hover {
    background-color: #b84444;
}