body {
    padding: 0;
    margin: 0;
    border: 0;
}

#home-container {
    display: flex;
    flex-direction: row;
}

#title-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    align-items: center;
    font-family: 'Staatliches';
    font-size: 40pt;
    width: 80vw;
    background-color: white;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

#menu {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: 10px;
}

#side-bar {
    font-family: "Staatliches";
    align-content: center; 
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: 0;
    width: 0; 
    min-height: 100vh;
    background-color: #cf4848;
    display: flex;
    transition: width .1s;
    z-index: 1;
    position: fixed;
    box-shadow: 5px 0px 15px rgb(0, 0, 0);
}

#side-bar-div {
    width: 100%;
    margin-bottom: 10px;
}

#side-bar h1 {
    font-family: 'Staatliches';
    margin-left: 5px;
    margin-top: 5px;
}

#storeBtnContainer {
    display: flex;
}

.arrows {
    transition: padding-left .1s;
}

#storeBtnContainer:hover .arrows {
    padding-left: 3vh;
}

#storeBtnContainer:hover {
    background-color: #b33c3c;
}

#side-bar h2 {
    font-family: 'Staatliches';
    margin-left: 1vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    color: #ffffff;
    font-weight: 2;
}

#account-mgmt {
    position: absolute;
    right: 0;
    margin-right: 10px;
    font-size: 30px;
}

#account-mgmt a {
    color: #383737;
    text-decoration: none;
}

#account-mgmt a:hover {
    color: #b84444;
}

#main-container {
    display: flex;
    width: 100%;
}

#menu div {
    width: 40px;
    height: 10px;
    margin-bottom: 2px;
    background-color: #cf4848;
    border-radius: 2px;
}

#menu:hover div {
    background-color: #b84444;
}
/* Flex grid layout */
#game-catalog {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-left: 10vh;
    padding-right: 10vh;
    margin: 15vh 20vw 10vh 0;
}

.game-icon { 
    border-radius:2vh;
    font-family: 'Staatliches';
    font-size: 30px;
    color: #ffffff;
    margin-top: 13px;
    margin-right: 13px;
    width: 300px;
    height: 200px;
    background-color: #cf4848;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 9px rgb(151, 54, 54);
    transition: transform .1s, box-shadow .1s;
}

.game-icon:hover{
    background-color: #b84444;
}

.game-icon:active {
    background-color: #a53838;
    transform: translateY(6px);
    box-shadow: 0 3px rgb(151, 54, 54);
}

.game-link { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
}

#stats-div {
    width: 100%;
}

#login-div {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Staatliches';
    color: #383737;
    margin: 100px auto;
    width: 20%;
    min-width: 275px;
    font-size: 20pt;
}

.display-scores { 
    margin-left: 5px;
    height: 20px;
    width: 20px;
    background-color: #cf4848;
    border-radius: 50px;
    text-align: center;
}

.score-drop-down {
    width: 50%;
    margin-bottom: 10px;
}

.display-scores:hover {
    background-color: #b84444;
}

#user-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Staatliches';
    color: #383737;
    margin: 100px auto;
    margin-top: 10px;
    width: 20%;
    min-width: 275px;
    font-size: 20pt;
}

#user-name {
    margin-bottom: 15px;
}

.score-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#login-div input {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    border-radius: 5px;
    border: solid;
    border-color: #838282;
}

#login-div button {
    font-family: 'Staatliches';
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    border: solid;
    height: 30px;
    border-color: #ffffff;
    background-color: #cf4848;
    outline: none;
}

#login-div p {
    border: 0;
    margin: 0;
    margin-right: auto;
    font-size: 12pt;
}

#login-div button:hover {
    background-color:  #b84444;
}

#user-div button {
    font-family: 'Staatliches';
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    border: solid;
    height: 30px;
    border-color: #ffffff;
    background-color: #cf4848;
    outline: none;
}

#user-div button:hover {
    background-color:  #b84444;
}

#home-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin-left: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #cf4848; 
    box-shadow: 0 1vh #973434;
}

#home-btn:hover {
    background-color: #b84444;
}

#home-btn:active {
    transform: translateY(.9vh);
    box-shadow: 0 .1vh #cf4848;
}

#user-account {
    font-size: 200%;
    padding: 1vh;
}

#user-account-page-link {
    font-size: 120%;;
    text-decoration: none;
    color: white;
    transition: padding-left .1s;
}

.account-div {
    display: flex;
    align-items: center;
    width: 100%;
    top: 50px;
}

#userLinks {
    display: flex;
    align-items: center;
    width: 80%;
}

#userLinks:hover {
    background-color: #b33c3c;
}

#userLinks:hover > #user-account-page-link {
    background-color: #b33c3c;
    padding-left: 3vh;
    color: white;
}

.avatar-div {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-radius: 5px;
    border-color:  #cf4848;
    border-width: 0;
    display: flex;
    margin-bottom: 10px;
    padding-top: 5px;
    background-color: #cf4848;
    box-shadow: 0 1vh #993333;
}

.avatar-div:hover {
    background-color: #aa3939;
}

.avatar-div:active {
    transform: translateY(.8vh);
    box-shadow: 0 .2vh #993333;
}

.avatar-div img {
    width: 100%;
    margin-top: auto;
}

.scores {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    font-size: 20pt;
    transition: height .1s;
    background-color: rgb(233, 233, 233);
    padding: 1vh 1vh 1vh 2vh;
    border-radius: 1vh;
}

.score-card text {
    font-size: 20pt;
}

#sign-out-btn {
    text-decoration: none;
}

.score-title text {
    margin-left: auto;
}

.score-title div {
    margin-right: auto;
}

#user-avatar-collection {
    width: 75%;
    height: 500px;
    background-color: #ffffff;
    border-style: solid;
    border-color: #cf4848; 
    border-width: 10px;
    border-radius: 5px;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    font-family: "Staatliches";
}

#close-avatar-selection {
    width: 30px;
    height: 30px;
    background-color: #cf4848;
    border-radius: 50px;
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: 0 3px black;
    transition: transform .1s, box-shadow .1s;
}

#close-avatar-selection:hover {
    background-color: #b84444;
}

#close-avatar-selection:active {
    transform: translateY(2px);
    box-shadow: 0 1px black;
}

#choose-avatar-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    font-size: 30pt;
}

#user-avatar-catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: scroll;
    margin-top: 10px;
    margin-left: 55px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.icon-piece {
    font-family: 'Staatliches';
    border-color: #302c2c;
    background-color: #cf4848;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    margin-right: 13px;
    width: 100px;
    height: 100px;
    margin-top: 15px;
    padding: 5px 5px 0 5px;
    transition: margin-top .1s, box-shadow .1s;
}

.icon-piece:hover {
    background-color: #a53838;
    margin-top: 13px;
    box-shadow: 0px 2px rgb(129, 129, 129);
}

#avatar-title-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.leaderboard-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: right;
    align-items: right;
    align-self: right;
}

#leaderboard-container {
    font-family: 'Staatliches';
    display: flex;
    flex-direction: column;
    right: 0px;
    background-color:#cf4848;
    overflow-y: scroll;
    width: 20vw;
    position: fixed;
    z-index: 1;
    height: 100vh;
    align-items: right;
    justify-content: right;
    font-size: 1vw;
}

#leaderboard-container h2 {
    font-weight: lighter;
    color: white;
    background-color: rgb(177, 52, 52);
    margin: 0;
    border-radius: 0;
    margin: .5vh;
    padding: .5vh .5vh .5vh 1.5vh;
    border-radius: 1vh;
    box-shadow: 0 .7vh rgb(145, 42, 42);
}

#leaderboard-container th {
    justify-content: right;
    align-items: right;
    align-self: right;
}

#leaderboard-container tr {
    justify-content: right;
    align-items: right;
    align-self: right;
}

#leaderboard-container td {
    justify-content: right;
    align-items: right;
    align-self: right;
}

.sub-div {
    display: flex;
    flex-direction: column;
}

.collapse {
    position: absolute;
    display: flex;
    align-self: right;
    font-size: 200%;
    padding: 3vh;
    align-items: right;
    justify-content: right;
    right: 1px;
    z-index: 2;
    color: white;
}

.collapse:hover {
    color: black;
}