body {
    padding: 0;
    margin: 0;
    border: 0;
}

#home-container {
    display: flex;
    flex-direction: row;
}

#main-container {
    width: 100%;
}

#title-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    font-family: 'Staatliches';
    font-size: 40pt;
}

#menu {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-left: 10px;
}

#side-bar {
    font-family: "Staatliches";
    align-content: center; 
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: 0;
    width: 400px; 
    min-height: 100vh;
    background-color: #cf4848;
    display: none;
}

#side-bar-div {
    background-color: #883030;
    width: 100%;
    margin-bottom: 10px;
}

#side-bar-div h2:hover {
    color: #999898;
}

#side-bar h1 {
    font-family: 'Staatliches';
    margin-left: 5px;
    margin-top: 5px;
}

#side-bar h2 {
    font-family: 'Staatliches';
    margin-left: 5px;
    margin-bottom: 0;
    margin-top: 0;
    color: #ffffff;
    font-weight: 2;
}

#account-mgmt {
    position: absolute;
    right: 0;
    margin-right: 10px;
    font-size: 20pt;
}

#account-mgmt a {
    color: #383737;
    text-decoration: none;
}

#account-mgmt a:hover {
    color: #b84444;
}

#menu div {
    width: 40px;
    height: 10px;
    margin-bottom: 2px;
    background-color: #cf4848;
    border-radius: 2px;
}

#menu:hover div {
    background-color: #b84444;
}
/* Flex grid layout */
#icon-catalog {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px 20% 0 20%;
    margin-bottom: 50px;
}

.icon-piece { 
    font-family: 'Staatliches';
    color: #ffffff;
    margin-top: 19px;
    margin-right: 13px;
    width: 175px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    background-color: #cf4848;
    width: 100%;
    height: 80%;
    border-radius: 5px 5px 0 0;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    box-shadow: 0 6px rgb(129, 41, 41);
}

.buy {
    width: 100%;
    border-radius: 0 0 5px 5px;
    height: 20%;
    background-color: #c0c0c0;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px #838383;
    transition: box-shadow .1s, transform .1s;
}

.buy text {
    margin-right: 5px;
}

.buy:hover{
    background-color: #a0a0a0;
}

.buy:active { 
    transform: translateY(5px);
    box-shadow: 0 1px #838383;
}

.game-link { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
}

#login-div {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Staatliches';
    color: #383737;
    margin: 100px auto;
    width: 20%;
    min-width: 275px;
    font-size: 20pt;
}

#user-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Staatliches';
    color: #383737;
    margin: 100px auto;
    width: 20%;
    min-width: 275px;
    font-size: 20pt;
}

#login-div input {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    border-radius: 5px;
    border: solid;
    border-color: #838282;
}

#login-div button {
    font-family: 'Staatliches';
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    border: solid;
    height: 30px;
    border-color: #ffffff;
    background-color: #cf4848;
    outline: none;
}

#login-div p {
    border: 0;
    margin: 0;
    margin-right: auto;
    font-size: 12pt;
}

#login-div button:hover {
    background-color:  #b84444;
}

#user-div button {
    font-family: 'Staatliches';
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    border: solid;
    height: 30px;
    border-color: #ffffff;
    background-color: #cf4848;
    outline: none;
}

#user-div button:hover {
    background-color:  #b84444;
}

#home-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #cf4848; 
    position: absolute;
    left: 0;
    top: 0;
    margin: 5px auto auto 5px;
    box-shadow: 0 6px rgb(129, 41, 41);
    transition: transform .1s, box-shadow .1s;
}

#home-btn:hover {
    background-color: #b84444;
}

#home-btn:active {
    transform: translateY(5px);
    box-shadow: 0 1px rgb(129, 41, 41);
}

#submit-avatar-search {
    display: flex;
    font-family: 'Staatliches';
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #cf4848;
}

#search-bar {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#avatar-search {
    border-color: #2b2b2b;
    border-radius: 5px;
    outline: none;
    height: 25px;
    width: 80%;
}

#autocomplete-list {
    width: 80%;
    height: 50px;
}

.autocomplete-item {
    /* display: block; */
    /* position: fixed; */
    /* z-index: 1; */
    width: 240px;
    border-bottom: 2px solid #a0a0a0;
    outline: none;
    height: 25px;
    font-family: 'Staatliches';
    padding-top: 10px;
}

#clear-avatar-search {
    display: flex;
    font-family: 'Staatliches';
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #cf4848;
    margin-left: 5px;
}

#clear-avatar-search:hover {
    background-color: #b84444;
}

#submit-avatar-search:hover {
    background-color: #b84444;
}