body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a15d6e;
}

div.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 10%;
    width: 97vh;
    margin-top: 1vh;
    margin-right: 3vh;
    margin-left: 3vh;
    display: flex;
    flex-direction: row;
    border-radius: 2vh;
    box-shadow: 0 .8vh #a5a5a5;
}
  
div.back {
    background-color: transparent;
    height: 8vh;
    width: 8vh;
}
  
div.headerFill {
    height: 8vh;
    width: 33.435vh;
    background-color: #e7e7e7;
}
  
div.title {
    width: 16.3vh;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e7e7;
}

div.AI {
    display: flex;
    height: 8vh;
    width: 20.375vh;
    background-color: #e7e7e7;
    font-size: 1.5vh;
    justify-content: center;
    align-items: center;
}

#AI {
    border-style: solid;
    border-radius: 1vh;
    color: #9c9c9c;
    font-size: 2vh;
    padding-right: .1vh;
}

div.AI h2 {
    color: #4b4b4b;
    margin: 1vh;
}
  
div.score {
    width: 20.375vh;
    height: 8vh;
    display: flex;
    flex-direction: row;
    background-color: #e7e7e7;
    border-radius: 0 2vh 2vh 0;
    justify-content: row;
    align-items: center;
}

div.overlay{
    display: none;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25vh;
    width: 45.2vh;
    height: 35vh;
    border-radius: 6vh;
    background: rgb(0, 0, 0, .5);
    opacity: 1;
    z-index: 1;
  }

div.description {
    display: flex;
    flex-direction: row;
    height: 8vh;
    width: 50vh;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: #864f5d;
    margin: 3vh 2vh;
    border-radius: 3vh;
}

div.board {
    width: 60vh;
    height: 60vh;
    border-style: solid;
    border-color: #424242;
    border-radius: 1vh;
    border-width: 2vh;
    padding: 0px;
    margin: 0px;
    background-color: rgb(50, 179, 50);
    background-position: center; 
    box-shadow: 0 1vh #616161;
}

div.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 12.5%;
    padding: 0px;
    margin: 0px;
    background: transparent;
}

div.tile {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 12.5%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

h2.title {
    color: #4b4b4b;
    margin: 5%;
    font-size: 3.5vh;
}

h4.description {
    color: #d8d8d8;
    align-self: center;
    font-size: 1.5vh;
}

.won {
    color: #d8d8d8;
    align-self: center;
    font-size: 1.5vh;
}

#score {
    color: #4b4b4b;
    text-align: right;
    margin-left: 2.5vh;
    font-size: 3vh;
}

button {
    display: inline-block;
    padding: 1.5vh 2vh;
    margin: 3vh;
    font-size: 2vh;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    outline: none;
    color: #4b4b4b;
    background-color: #e7e7e7;
    border: none;
    border-radius: 15px;
    box-shadow: 0 .8vh #a5a5a5;
    transition: box-shadow .1s, transform .1s;
}
  
button:hover {background-color: #c9c9c9}
  
button:active {
    background-color: #c9c9c9;
    box-shadow: 0 .4vh #a5a5a5;
    transform: translateY(.4vh);
}

a.back {
    border-radius: 2vh 0 0 2vh;
    text-decoration: none;
    color: #4b4b4b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 8vh;
    height: 8vh;
    background-color: #e7e7e7;
    font-size: 3vh;
    transition: transform .1s;
}
  
a.back:hover {
    background-color: #c9c9c9;
}

a.back:active {
    transform: translateY(.4vh);
}

.piece {
    margin: .1vh 0vh 0vh .1vh;
    align-self: center;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    border-style: solid white;
    /* transition: height .1s, width .1s; */
}

.white {
    background-color: white;
    box-shadow: 0 .5vh rgb(175, 175, 175);
}

.black {
    background-color: rgb(32, 32, 32);
    box-shadow: 0 .5vh rgb(94, 94, 94);
}
