body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(155, 196, 209);
}

div.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 10%;
    width: 97vh;
    margin-top: 1vh;
    margin-right: 3vh;
    margin-left: 3vh;
    display: flex;
    flex-direction: row;
    border-radius: 2vh;
    box-shadow: 0 .8vh #a7a041;
}
  
div.back {
    background-color: transparent;
    height: 8vh;
    width: 8vh;
}
  
div.headerFill {
    height: 8vh;
    width: 24.6vh;
    background-color: #eee45e;
}
  
div.title {
    width: 32.6vh;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee45e;
  
}
  
div.score {
    width: 32.6vh;
    height: 8vh;
    display: flex;
    flex-direction: row;
    background-color: #eee45e;
    border-radius: 0 2vh 2vh 0;
    justify-content: center;
    align-items: center;
}

div.overlay{
    display: none;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25vh;
    width: 45.2vh;
    height: 35vh;
    border-radius: 6vh;
    background: rgb(0, 0, 0, .5);
    opacity: 1;
    z-index: 1;
  }

div.description {
    display: flex;
    flex-direction: row;
    height: 8vh;
    width: 50vh;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(122, 165, 179);
    margin: 3vh 2vh;
    border-radius: 3vh;
}

div.board {
    width: 60vh;
    height: 57vh;
    border-style: solid;
    border-color: rgb(77, 77, 184);
    border-radius: 1vh 1vh 0 0;
    border-width: 2vh;
    border-bottom-width: 1vh;
    padding: 0px;
    margin: 0px;
    background-color: rgb(77, 77, 184);
    background-position: center; 
    box-shadow: 0vh -1vh rgb(57, 57, 145);
}

div.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 14%;
    padding: 0px;
    margin: 0px;
    background: transparent;
}

div.tile {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 7.7vh;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-style: none;
    border-width: 1px;
    padding: 0 .4vh .8vh .4vh;
}

h2.title {
    color: #4b4b4b;
    margin: 5%;
    font-size: 3.5vh;
}

h4.description {
    color: #d8d8d8;
    align-self: center;
    font-size: 1.5vh;
}

.won {
    color: #d8d8d8;
    align-self: center;
    font-size: 1.5vh;
}

#score {
    color: #4b4b4b;
    text-align: right;
    margin: 2vh;
    font-size: 3.5vh;
}

#AI {
    border-style: solid;
    border-radius: 1vh;
    color: #a7a041;
    font-size: 3.5vh;
}

button {
    display: inline-block;
    padding: 1.5vh 2vh;
    margin: 3vh;
    font-size: 2vh;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    outline: none;
    color: #4b4b4b;
    background-color: #eee45e;
    border: none;
    border-radius: 15px;
    box-shadow: 0 .8vh #a7a041;
    transition: box-shadow .1s, transform .1s;
}
  
button:hover {background-color: #d4cc53}
  
button:active {
    background-color: #d4cc53;
    box-shadow: 0 .4vh #a7a041;
    transform: translateY(.4vh);
}

a.back {
    border-radius: 2vh 0 0 2vh;
    text-decoration: none;
    color: #4b4b4b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 8vh;
    height: 8vh;
    background-color: #eee45e;
    font-size: 3vh;
    transition: transform .1s;
}
  
a.back:hover {
    background-color: #d4cc53;
}

a.back:active {
    transform: translateY(.4vh);
}

.piece {
    margin: .1vh 0vh 0vh .1vh;
    align-self: center;
    height: 90%;
    width: 90%;
    border-radius: 50%;
    border-style: solid white;
    transition: background-color .8s;
}

.white {
    background-color: rgb(248, 44, 44);
    box-shadow: 0 .8vh rgb(57, 57, 145);
}

.black {
    background-color: rgb(243, 243, 51);
    box-shadow: 0 .8vh rgb(57, 57, 145);
}

.empty {
    background-color: rgb(155, 196, 209);
    box-shadow: 0 .8vh rgb(57, 57, 145);
}

.winningPiece {
    background-color: rgb(64, 211, 64);
    box-shadow: 0 .8vh rgb(57, 57, 145);
}
